body {
    font-family: lato, sans-serif;
    /* background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin: 3% 10%;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 20px;
    height: 10%;
    width: 15%;
    color: white;
    font-family: lato, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 5px; 
    text-align: center;
    border: 2px transparent;
  }
  
  .no-border {
    border-radius: 25px;
    border: 2px transparent;
    background: none;
    padding: 10px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .profile-pic {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    font-family: lato, sans-serif;
    text-align: center;
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px transparent;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 50%;
    height: 15%;
    font-family: lato, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    font-style: italic;
  }

  @media (max-width : 560px){
  
    nav > a{
      display:none;
    }
    .nav-container , a{
      width: 80px;
    }
    
    a:hover{
      width:200px; 
      z-index:1;
      border-top: 1px solid rgba(255,255,255,0.1);
      border-bottom: 1px solid black;
      box-shadow: 0 0 1px 1px black;
    }
    
    a:hover  .text {
      display:block;
      padding-left:30%;
    }
  }
  @media (max-width : 480px){
    .nav-container, a{ width:50px;}
    span[class ^= "icon"]{ left:8px;}
  }
  
  